<!DOCTYPE html>
<html lang="en-gb">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%- include('partials/meta.ejs') %>

  <link rel="stylesheet" href="/styles/main.css">
  <script type="module" src="/scripts/main.js"></script>

  <!-- Styles -->
  <%- defineContent('styles') %>
  <!-- /Styles -->

  <!-- Scripts -->
  <%- defineContent('scripts') %>
  <!-- /Scripts -->

</head>

<body>
  <div id="app">
    <%- include('partials/header.ejs') %>
    <%- include('partials/menu.ejs') %>

    <%-body%>

    <%- include('partials/footer.ejs') %>
  </div>
  <ez-dialog title="Information" type="info" id="infoDialog">
    <section slot="body"></section>
    <section slot="buttons">
      <button class="button btn-primary" name="btnConfirm">Ok</button>
    </section>
  </ez-dialog>
  <ez-dialog title="Confirmation" type="info" icon="question_mark" id="confirmDialog">
    <section slot="body"></section>
    <section slot="buttons">
      <button class="button btn-primary" name="btnConfirm">Confirm</button>
      <button class="button btn-secondary" name="btnCancel">Cancel</button>
    </section>
  </ez-dialog>
  <ez-dialog title="Warning" type="warning" icon="warning" id="warningDialog">
    <section slot="body"></section>
    <section slot="buttons">
      <button class="button btn-warning" name="btnConfirm">Ok</button>
    </section>
  </ez-dialog>
  <ez-dialog title="System Error" type="error" icon="close" id="errorDialog">
    <section slot="body"></section>
    <section slot="buttons">
      <button class="button btn-danger" name="btnConfirm">Ok</button>
    </section>
  </ez-dialog>
</body>

</html>